body {
  background: gray;
}

#contents {
  color: white;
}
.title {
  color: white;
  /* font-size: $fontSize20; */
}
#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background-color: white;
}

header {
  text-align: center;
  margin-top: 100px;
}
